<div id="steamMenu">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="panneauHead">Menu</li>
        <li role="presentation"><a ng-click="steamMenu.showFriend()">Friends</a></li>
        <li role="presentation"><a>Messages</a></li>
        <li role="presentation">
            <a href="#" ng-click="steamMenu.isCollapsed = !steamMenu.isCollapsed">Collapse</a>

            <div collapse="steamMenu.isCollapsed">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="#">Link Collapse</a></li>
                    <li role="presentation"><a href="#">Link Collapse</a></li>
                    <li role="presentation"><a href="#">Link Collapse</a></li>
                    <li role="presentation"><a href="#">Link Collapse</a></li>
                </ul>
            </div>
        </li>
        <li role="presentation"><a href="#">Link</a></li>
        <li role="presentation"><a href="#">Link</a></li>
    </ul>
</div>