/* -------------------------
 * --------VARIABLES--------
 * ------------------------- */

/* Les panneaux */
$panneau-height: 800px;
$panneau-width: 100%;
$panneau-bgColor: #4c4d4c;
$panneau-shadow: inset -30px -1px 50px -10px #393a39;

/* -------------------------
 * ---------COMMUNS---------
 * ------------------------- */
html {
  background-color: #4c4d4c;
}

.panneauHead {
  height: 30px;
  background: repeating-linear-gradient(-55deg, #4c4d4c, #4c4d4c 5px, #333 5px, #333 10px);
  border-bottom: solid 3px #333;
  border-right: solid 3px #333;
  color: white;
  padding-left: 10%;
  padding-top: 5px;
  box-shadow: $panneau-shadow;
}

div:first-child {
  opacity: .99;
}

.scrollbarPanneau {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100% - 30px);

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
}

.slidePanneau {
  &.ng-enter {
    animation: slideInLeft 1s;
  }

  &.ng-leave {
    animation: slideOutLeft 1s;
  }
}