.steamContacts {
  height: $panneau-height;
  width: $panneau-width;
  background-color: $panneau-bgColor;
  box-shadow: $panneau-shadow;
  font-size: small;
  z-index: 50;

  @extend .slidePanneau;

  ul {
    @extend .scrollbarPanneau;
  }

  .avatar {
    vertical-align: top;
    padding-right: 5px;
  }

  .friend {
    display: inline-block;
    margin-top: 0px;
  }

  a {
    text-decoration: none;

    &.inGame {
      color: #1cd51c;
    }

    &.noGame {
      color: #4a88e8;
    }

    &.horsLigne {
      color: #adaead;
    }
  }

  .list-group-item {
    background-color: transparent;
    border: none;
  }
}