<div id="steamFriends" ng-if="steamFriends.friend==true"
     class="fade-animation">
    <div class="panneauHead">Friends</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="friend in steamFriends.listFriends" tabindex="1">
            <img src="{{friend.avatar}}" class="avatar">

            <div class="friend">
                <div><a href="#"
                        ng-class="steamFriends.ihmStatutContact(friend)" ng-click="steamFriends.showProfil(true)">{{friend.pseudo}}</a>
                </div>
                <div><a href="#"
                        ng-class="steamFriends.ihmStatutContact(friend)">{{friend.statut}}</a>
                </div>
                <div><a href="#"
                        ng-class="steamFriends.ihmStatutContact(friend)">{{friend.game}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>